// Tipografia
$fuente_principal: 'Montserrat', sans-serif;


// Colores
$verde: #007FFF;
$rosa: #f53756;
$amarillo: #fef46D;
$morado: #752f97;
$negro: #000;
$blanco: #FFF;
$azulOscuro: #0039a6;

$color_principal: #ffcc00;

// Media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
