@use '../base/mixins' as m;
@use '../base/variables' as v;

.contenedor-descripcion{
    @include m.grid(2, 5rem);
    justify-content: center;

    h2{
        font-size: 1.8rem;
        color: v.$color_principal;
    }

    picture{
        margin: 2rem;

        border-radius: 70%;
    }
}
